@model OwnerVM
<br />
<form method="get">
    <input asp-for="Id" hidden />
    <div class="card" style="width:60%">
        <div class="card-header bg-dark text-light">Owner</div>
        <div class="card-body">
            <dl class="row">

                @if (Model.ShortName is not null)
                {
                    <dt class="col-sm-3 text-end">
                        <label asp-for="ShortName"></label>
                    </dt>
                    <dd class="col-sm-9">@Model.ShortName</dd>
                }

                @if (Model.FullShop is not null)
                {
                    <dt class="col-sm-3 text-end">
                        <label asp-for="FullShop"></label>
                    </dt>
                    <dd class="col-sm-9">@Model.FullShop</dd>

                }

                @if (Model.FullProduction is not null)
                {
                    <dt class="col-sm-3 text-end">
                        <label asp-for="FullProduction"></label>
                    </dt>
                    <dd class="col-sm-9">@Model.FullProduction</dd>

                }

                @if (Model.ShortName is not null)
                {
                    <dt class="col-sm-3 text-end">
                        <label asp-for="Phone"></label>
                    </dt>
                    <dd class="col-sm-9">@Model.Phone</dd>
                }

                @if (Model.MasterId is not null)
                {
                    if (Model.Master!.Name is not null)
                    {
                        <dt class="col-sm-3 text-end">
                            <label asp-for="Master!.Name"></label>
                        </dt>
                        <dd class="col-sm-9">@Model.Master!.Name</dd>
                    }

                    if (Model.Master!.PhoneNumber is not null)
                    {
                        <dt class="col-sm-3 text-end">
                            <label asp-for="Master!.PhoneNumber"></label>
                        </dt>
                        <dd class="col-sm-9">@Model.Master!.PhoneNumber</dd>
                    }

                    if (Model.Master!.Email is not null)
                    {
                        <dt class="col-sm-3 text-end">
                            <label asp-for="Master!.Email"></label>
                        </dt>
                        <dd class="col-sm-9">@Model.Master!.Email</dd>
                    }
                }

            </dl>
        </div>
        <div class="card-footer bg-dark text-end">
            <div class="row row-cols-auto">
                <div class="col-6 text-start">
                    <form method="post" asp-controller="Owner" asp-action="Delete" asp-route-id="@Model.Id">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>
                </div>
                <div class="col-6 text-end">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a asp-controller="Owner" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-warning">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a asp-controller="Owner" asp-action="Index" class="btn btn-outline-danger">
                            <i class="bi bi-box-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</form>